<%= form_for :post, url: user_posts_path(@user) do |f| %>
    Post Title: <%= f.text_field :title %><br />
    Post Details: <%= f.text_area :text %><br />
    <%= f.submit %>
<% end %>

<% if @post.present? %>
  <div class="card mb-3" style="max-width: 800px;">
    <div class="card-body text-success text-bg-light p-3">
      <div class="d-flex justify-content-between">
        <div>
          <h4><span class="card-title">Post #<%= @post.id %></span> <span>by <%= @post.author.name %></span></h4>
        </div>
        <div>
          <span class="card-text">Comments: <%= @post.comment_counter %></span>
          <span class="card-text">Likes: <%= @post.like_counter %></span>
        </div>
      </div>
      <p class="card-text"><%= @post.text %></p>
    </div>
  </div>
<% end %>